@model ClinicPulse.Models.ClinicPulseViewModel

<div class="content-wrapper" style="min-height: 946px;">

    <section class="content-header">
        <h1>
            404 Error Page
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Painel"><i class="fa fa-dashboard"></i> Painel</a></li>
            <li class="active">404 error</li>
        </ol>
    </section>

    <section class="content">

        <div class="error-page">
            <h2 class="headline text-yellow" style="font-size: 100px !important"> 404</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina com problema.</h3>
                <p>
                    Aconteceu algum erro, por favor, nos avise disso e iremos trabalhar para melhorar cada vez mais para você.
                </p>
            </div><!-- /.error-content -->
        </div><!-- /.error-page -->
    </section>
</div>