USE Sollo
GO
INSERT [dbo].[Paises] ([Codigo], [Descricao], [Sigla]) VALUES ('01058', 'BRASIL', 'BR')
GO
INSERT [dbo].[Paises] ([Codigo], [Descricao], [Sigla]) VALUES ('00132', 'AFEGANISTAO', 'EX')
GO
INSERT [dbo].[Paises] ([Codigo], [Descricao], [Sigla]) VALUES ('00175', 'REPUBLICA  DA ALBANIA', 'EX')
GO

SET IDENTITY_INSERT [dbo].[Estados] ON
GO
INSERT [dbo].[Estados] ([CodEstado], [Descricao], [CodPais], [CodIBGE], [PorcentFCP]) VALUES (1, N'AC', 1, 12, 0.00)
GO
INSERT [dbo].[Estados] ([CodEstado], [Descricao], [CodPais], [CodIBGE], [PorcentFCP]) VALUES (2, N'AL', 1, 27, 0.00)
GO
INSERT [dbo].[Estados] ([CodEstado], [Descricao], [CodPais], [CodIBGE], [PorcentFCP]) VALUES (3, N'AM', 1, 13, 0.00)
GO
SET IDENTITY_INSERT [dbo].[Estados] OFF
GO

SET IDENTITY_INSERT [dbo].[Cidades] ON
GO
INSERT [dbo].[Cidades] ([CodCidade], [Descricao], [CodEstado], [CodIBGE]) VALUES (2, N'ALTA FLORESTA D''OESTE', 21, N'1100015')
GO
INSERT [dbo].[Cidades] ([CodCidade], [Descricao], [CodEstado], [CodIBGE]) VALUES (3, N'ARIQUEMES', 21, N'1100023')
GO
INSERT [dbo].[Cidades] ([CodCidade], [Descricao], [CodEstado], [CodIBGE]) VALUES (4, N'CABIXI', 21, N'1100031')
GO
SET IDENTITY_INSERT [dbo].[Cidades] OFF
GO

update Cidades set Descricao = UPPER(Descricao) collate SQL_Latin1_General_Cp1251_CS_AS
GO

update estados set PorcentFCP = 2.00 where Descricao = 'BA'
update estados set PorcentFCP = 2.00 where Descricao = 'CE'
update estados set PorcentFCP = 2.00 where Descricao = 'GO'
update estados set PorcentFCP = 2.00 where Descricao = 'MG'
update estados set PorcentFCP = 2.00 where Descricao = 'MS'
update estados set PorcentFCP = 10.00 where Descricao = 'MT'
update estados set PorcentFCP = 2.00 where Descricao = 'PB'
update estados set PorcentFCP = 2.00 where Descricao = 'PE'
update estados set PorcentFCP = 2.00 where Descricao = 'PI'
update estados set PorcentFCP = 2.00 where Descricao = 'PR'
update estados set PorcentFCP = 1.00 where Descricao = 'RJ'
update estados set PorcentFCP = 2.00 where Descricao = 'RN'
update estados set PorcentFCP = 2.00 where Descricao = 'SE'
GO

declare paises cursor for select CodPais from Paises where CodPais > 1

declare @codpais int

open paises

fetch next from paises into @codpais

while @@FETCH_STATUS = 0
begin
	insert into Estados (Descricao, CodPais, CodIBGE, PorcentFCP) values ('EX', @codpais, 99, 0)

	declare @code int
	set @code = SCOPE_IDENTITY()

	insert into Cidades (Descricao, CodEstado, CodIBGE) values ('EXTERIOR', @code, '9999999')

	fetch next from paises into @codpais
end

close paises
deallocate paises